<!doctype html>
<html>
  <head>
    <title>Hustle the People</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  </head>
	<div class="col-md-12">
		<div class="col-md-6">
		  <div class="col-md-12">
		    <div id="connection-count"></div>
		    What's your status?
		    <div id="status-message"></div>
		    Choose an option
		    <div id="choices">
				  <button type="button" class="btn btn-default btn-sm">
		  			<span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
		  			This is old hat to me
		  		</button>
		  		<button type="button" class="btn btn-default btn-sm">
		  			<span class="glyphicon glyphicon-education" aria-hidden="true"></span>
				  		I have an okay understanding this
				  </button>
				  <button type="button" class="btn btn-default btn-sm">
		  			<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
				  	I have no idea what you are babbling about
				  </button>
				</div>
				<div class="col-md-12">
					Your vote: <div id="user-vote"></div>
				</div>
			</div>
		  <div id="polls"></div>
		  <div id="results"></div>
		</div>
	</div>
</html>